/* Load Urbanist and Comfortaa font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**
 * These directives tell Tailwind to include the base styles for the project,
 * any components that are used, and any utilities that are used.
 * So don't remove them!
 */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply border-border;
  }

  body,
  html {
    @apply bg-background text-foreground;
    font-family: 'Poppins',
      sans-serif;
    font-feature-settings: "rlig"1,
      "calt"1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }
}